*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  min-height:100vh;
  background:#06060f;
  font-family:'Poppins',sans-serif;
  overflow:hidden;
  color:aliceblue;
}

/* ================= PARTICLES ================= */

#particles{
  position:fixed;
  inset:0;
  width:100%;
  height:100%;
  z-index:0;
  pointer-events:none;
}

/* ================= HEADER ================= */

.header{
  position:relative;
  z-index:2;
  width:100%;

  border-radius: 18px;
  backdrop-filter:blur(14px);
  border-bottom:1px solid rgba(255,255,255,0.12);
  box-shadow:0 18px 60px rgba(59, 0, 98, 0.5);
}

.header-inner{
  width:min(1200px,94vw);
  margin:0 auto;

  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:14px 0;
}

.brand{
  display:flex;
  align-items:center;
  gap:30px;
  font-size: 15px;
}

.logo{
  width:90px;
}

.brand-text{
  font-weight:800;
  letter-spacing:1px;
  opacity:0.95;
}

/* ===== MENU ===== */

.menu{
  display:flex;
  gap:28px;
}

.menu a{
  text-decoration:none;
  color:aliceblue;
  font-weight:600;
  opacity:0.85;
  transition:0.25s;
  position:relative;
}

.menu a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-6px;
  width:0;
  height:2px;
  background:#9d7bff;
  transition:0.25s;
}

.menu a:hover{
  opacity:1;
}

.menu a:hover::after{
  width:100%;
}

/* ================= MAIN ================= */

main{
  position:relative;
  z-index:1;
  min-height:calc(100vh - 90px);
  display:grid;
  place-items:center;
  padding:24px;
}

/* ================= CARD ================= */

.card{

  width:min(920px,92vw);
  padding:48px 32px;

  border-radius:22px;

  /* GLASS */
  background:rgba(20,20,35,0.35);
  backdrop-filter:blur(16px);

  border:1px solid rgba(255,255,255,0.18);

  box-shadow:
    0 40px 120px rgba(59, 0, 98, 0.5),
    inset 0 0 40px rgba(255,255,255,0.05);
}

.card h1{
  text-align:center;
  font-size:28px;
  margin-bottom:28px;
  font-weight:800;
}

/* ================= BUTTONS ================= */

.buttons{
  display:flex;
  flex-direction:column;
  gap:16px;
  align-items:center;
}

.buttons a{
  width:min(520px,86vw);
  padding:18px 20px;

  border-radius:18px;
  border:1px solid rgba(255,255,255,0.55);

  background:rgba(255,255,255,0.05);

  text-decoration:none;
  color:aliceblue;

  display:flex;
  justify-content:center;
  align-items:center;

  font-weight:700;
  letter-spacing:0.4px;

  transition:0.25s;
}

/* HOVER PROFISSIONAL */

.buttons a:hover{
  background:rgba(157,123,255,0.18);
  border-color:#9d7bff;
  transform:translateY(-3px);
  box-shadow:0 10px 40px rgba(157,123,255,0.35);
}
